{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
    <h1 class="text-center">Listo App</h1>

<p>
    Organiza tu vida con nuestra aplicación de lista de tareas. Simplificamos tu día,
    una tarea a la vez.
<ul>
    <li>Gestiona tus tareas diarias de manera eficiente</li>
    <li>accede a tu lista de tareas desde cualquier dispositivo</li>
    <li>mantente organizado en casa, en el trabajo y en cualquier lugar</li>
</ul>
</p>

<p> Nuestra interfaz intuitiva te permite priorizar, añadir detalles y marcar tareas como completadas,
    para que puedas mantener el control de tus responsabilidades de manera fácil y efectiva.
    <br>
    <br>
    <a href="signup">Regístrate ahora</a> y descubre cómo podemos ayudarte a ser más productivo
</p>
</section>
</main>

{% endblock %}